# Archivos y directorios de desarrollo
node_modules
.next
out

# Archivos de entorno locales
.env*

# Archivos de respaldo y configuración de control de versiones
.DS_Store
.git
.gitignore
docker-compose.yml
.dockerignore

# Otros archivos generados durante el desarrollo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
