@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your global styles or CSS file */
.truncate-link {
  max-width: 200px;
  /* Set the maximum width to truncate the text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

/* Show tooltip on hover */
.truncate-link:hover {
  position: relative;
}

.truncate-link:hover::before {
  content: attr(title);
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: normal;
  max-width: 300px;
}