@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your global styles or CSS file */
.truncate-link {
  max-width: 200px;
  /* Set the maximum width to truncate the text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

/* Show tooltip on hover */
.truncate-link:hover {
  position: relative;
}

.truncate-link:hover::before {
  content: attr(title);
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: normal;
  max-width: 300px;
}

.button-hovered {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
  /* Apply transitions to transform and opacity */
}

.button-hovered:hover {
  transform: scale(1.05);
  opacity: 0.8;
}


@keyframes changeColors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  animation: changeColors 2s linear infinite;
}